---
import { PageEntriesWithData } from "@common/types/client";
import AudioSnippetEntry from "./Entries/AudioSnippetEntry.astro";
import BlogEntry from "./Entries/BlogEntry.astro";
import LinkEntry from "./Entries/LinkEntry.astro";
import ReviewEntry from "./Entries/ReviewEntry.astro";

export interface Props {
  pageEntries: PageEntriesWithData[];
}

const { pageEntries } = Astro.props;
---

<>
  {
    pageEntries.map((entry) => {
      if (entry.hidden) return;

      // Is a Title entry
      if (!!entry.title) {
        return <h2 class="mb-4 mt-6">{entry.title}</h2>;
      }

      if (entry.review?.name) return <ReviewEntry review={entry.review} />;

      if (entry.link?.link && entry.link?.displayText)
        return <LinkEntry link={entry.link} />;

      if (entry.blog) return <BlogEntry blog={entry.blog} />;

      if (entry.audioSnippet?.mediaUrl)
        return <AudioSnippetEntry audioSnippet={entry.audioSnippet} />;
    })
  }
</>
